*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: cursive;
    transition: all 0.3s ease;
    
}
.navbar.sticky{
    padding: 15px 0;
    background:gray;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color:blue;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: black;
}
.navbar .menu li{
    list-style: none;
    display:inline-block;
}
.navbar .menu li a{
    color:black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:blue;
}
/* home section styling */
.ACCUEIL{
    display: flex;
    background: url("R.png");
    opacity: 0.9;
    height: 100vh;
    color:black;
    min-height: 500px;
    font-family:cursive;
}
.ACCUEIL .max-width{
    margin: auto 0 auto 40px
}
.ACCUEIL .ACCUEIL-content .text-1{
    font-size: 27px;
}
.ACCUEIL .ACCUEIL-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.ACCUEIL .ACCUEIL-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.ACCUEIL .ACCUEIL-content .text-3 span{
    color:blue;
    font-weight: 500;
}

.ACCUEIL .ACCUEIL-content a:hover{
    
    background: none;
}
p{
    color:black;
}
h1{
    color:black;
}
fieldset{
    position:absolute;
}

h3{
    color:black;
    
}
.pro{
    position:absolute;
}
/* about section*/
.APROPOSDENOUS, .FAQS, .NOUSCONTACTER, .tile{
    font-family: cursive;
}
section{
    padding: 100px 0;
}
.APROPOSDENOUS{
    font-family:cursive;
}
.APROPOSDENOUS .title{
    position:relative;
    text-align:center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: cursive;
}
.APROPOSDENOUS .title::before{
    content:"";
    position:absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height:3px;
    background:dimgrey;
    transform: translateX(-50%);
}
.APROPOSDENOUS .title::after{
    content:"Multi Services Auto";
    position:absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color:blue;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}

.APROPOSDENOUS .APROPOSDENOUS-content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.APROPOSDENOUS .APROPOSDENOUS-content .left{
    width: 45%;
}
.APROPOSDENOUS .APROPOSDENOUS-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.APROPOSDENOUS .APROPOSDENOUS-content .right{
    width: 55%;
}
.APROPOSDENOUS .APROPOSDENOUS-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.APROPOSDENOUS .APROPOSDENOUS-content .right .text span{
    color:black;
}

.APROPOSDENOUS .APROPOSDENOUS-content .right p{
    text-align: justify;
}
.APROPOSDENOUS .APROPOSDENOUS-content .right a{
    display: inline-block;
    background:gray;
    color:black;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px blue;
    transition: all 0.3s ease;
}
.APROPOSDENOUS .APROPOSDENOUS-content .right a:hover{
    color:blue;
    background: none;

}
/* skills section */
section{
    padding: 100px 0;
}
.FAQS .title{
    text-align: center;
}
.FAQS .title{
    position:relative;
    text-align:center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: cursive;
}
.FAQS .title::before{
    content:"";
    position:absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height:3px;
    background:dimgrey;
    transform: translateX(-50%);
}
.FAQS .title::after{
    content:"Si Besoin D'aide";
    position:absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color:blue;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}
body {
    font-family: Raleway, sans-serif;
}
h1{
    text-align: center;
    padding: 35px 0;
    font-size: 40px;
}
.container-faq {
    width: 70%;
    max-width: 900px;
    min-width: 700px;
    height: auto;
    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.questions {
    width: 100%;
    height: auto;
    margin: 5px;
}
.visible-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: ghostwhite;
    border-radius: 10px;
    position: relative;
    z-index: 100;
}
.visible-pannel h2 {
    margin-left: 10px;
    padding: 15px 5px;
    font-size: 25px;
}
.visible-pannel img {
    margin-right: 10px;
    width: 25px;
    cursor: pointer;
}
.toggle-pannel  {
    padding: 20px 15px;
    height: 0px;
    opacity: 0;  
}
.toggle-pannel h4 {
    font-size: 18px;
    padding-bottom: 10px;
}
.toggle-pannel p {
    line-height: 1.5;


}
/* maps section */
section{
    padding: 100px 0;
}
.OUNOUSTROUVER .title{
    text-align: center;
}
.OUNOUSTROUVER .title{
    position:relative;
    text-align:center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: cursive; 
}
.OUNOUSTROUVER .title::before{
    content:"";
    position:absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height:3px;
    background:dimgrey;
    transform: translateX(-50%);
}
.OUNOUSTROUVER .title::after{
    content:"Trouver Nous";
    position:absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color:blue;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}
.gmaps-frame{
    width: 910px;
    height: 400px;
    border: 0;
    margin: auto;
    display: block;
}
/* contact section */
section{
    padding: 100px 0;
}
.NOUSCONTACTER .title{
    text-align: center;
}
.NOUSCONTACTER .title{
    position:relative;
    text-align:center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: cursive;
}

.NOUSCONTACTER .title::before{
    content:"";
    position:absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height:3px;
    background:dimgrey;
    transform: translateX(-50%);
}
.NOUSCONTACTER .title::after{
    content:"Contacter Nous";
    position:absolute;
    bottom: -7px;
    left: 50%;
    font-size: 20px;
    color:blue;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}
.contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    margin: 0;
    height: 90px;
    column-count: 3;
}
.contact-info-item .icon{
    display: inline-block;
}
.contact-info-item .icon .fa{
    font-size: 25px;
    color: blue;
    align-content: center;
}
.contact-info-item h4
{
    font-size: 10px;
    font-weight: 700;
    color:black;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: black;
    font-weight: 400;
}





  /* footer section */
 .tile{
      margin: 0;
      padding-top: 10px;
      text-align: center;
      height: 30px;
      color: black;
  }
 